.add-task-button {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  cursor: pointer;
  &:hover {
    @media (min-width: 600px) {
      .plus {
        background: #de4c4a;
        color: white;
      }
      p {
        color: #de4c4a;
      }
    }
  }
  .plus {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    color: #de4c4a;
    position: relative;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .add-task-text {
    margin-left: 0.5rem;
    color: grey;
    font-size: 14px;
    font-weight: 300;
    transform: translate(-1px, -1px);
  }
}

.add-task-form {
  margin-top: 1rem;
  @media (max-width: 1100px) {
    min-width: 580px;
  }
  @media (max-width: 750px) {
    min-width: unset;
  }
  .container {
    background: var(--light-black);
    border: 1px solid hsla(0, 0%, 100%, 0.1);
    border-radius: 3px;
    cursor: text;
    padding: 0.5rem 1rem 0.8rem;
    &:hover {
      @media (min-width: 600px) {
        border: 1px solid #555;
      }
    }
    div {
      display: flex;
      label {
        font-size: 16px;
        height: 32px;
        display: flex;
        align-items: center;
        width: fit-content;
      }
      input {
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
        background: none;
        width: 100%;
        outline: none;
        border: none;
        color: var(--text-white);
        resize: none;
        height: 32px;
        margin-bottom: 0.2rem;
      }
    }
    .sub-options {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 800px) {
        flex-direction: column;
        align-items: flex-start;
      }
      div {
        @media (max-width: 810px) {
          margin: 0 0 0.2rem 0 !important;
        }
        input,
        select {
          background: var(--dark-gray);
          color: var(--text-white);
          border-radius: 3px;
          outline: none;
          border: 1px solid hsla(0, 0%, 100%, 0.1);
          height: 32px;
          padding: 2px 10px;
          &:hover {
            @media (min-width: 600px) {
              border: 1px solid #555;
            }
          }
          &:focus {
            border: 1px solid #555;
          }
        }
      }
      .priority {
        align-items: center;
        .priority-select {
          margin-left: 0.5rem;
        }
      }
      .date {
        input {
          margin: 0 0 0 0.5rem;
          width: 160px;
        }
      }
      .project-selection {
        align-items: center;
        select {
          margin-left: 0.5rem;
        }
      }
    }
  }
  .add-task-button {
    cursor: pointer;
    margin: 0.5rem 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    padding: 6px 16px 7px 12px;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    background: #de4c4a;
    border: 1px solid transparent;
    outline: none;
    color: #fff;
    transition: 0.2s ease-in-out;

    &:hover {
      @media (min-width: 600px) {
        filter: brightness(1.1);
      }
    }
  }
  .cancel {
    margin-left: 1rem;
    cursor: pointer;
    margin: 0.5rem 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    padding: 6px 14px 7px 12px;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    border: 1px solid transparent;
    outline: none;
    color: #fff;
    background: none;
    transition: 0.2s ease-in-out;

    &:hover {
      @media (min-width: 600px) {
        filter: brightness(1.1);
        background: #303030;
      }
    }
  }
}

.completed {
  opacity: 0.5;
  h3 {
    text-decoration: line-through;
  }
}
