main {
  display: flex;
  .dashboard {
    margin-left: 305px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    height: calc(100vh - 43px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 4rem;
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: #a03634;
      border-radius: 0px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #b43e3c;
    }
    &::-webkit-scrollbar-track {
      background: #414141;
      border-radius: 0px;
    }
    &.closed {
      margin-left: 0;
    }

    .project-container {
      padding: 30px 55px 0;
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      h1 {
        margin-bottom: 1.5rem;
      }
    }
  }
}

.all-project-items {
  margin: 0 0 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--dark-gray);
  h2 {
    font-size: 1.4rem;
    padding-bottom: 0.5rem;
  }
  h3 {
  }
  .task-list {
    li {
      .add-task-form {
      }
    }
  }
}

.project-items {
  h1 {
    margin-bottom: 1.5rem;
  }
  .task-list {
    li {
      .task-item {
        display: flex;
        align-items: center;
        h3 {
          flex: 1;
        }
        button {
          margin-left: 0.5rem;
          height: 32px;
          width: 80px;
          outline: none;
          border: none;
          border-radius: 3px;
          color: white;
          background: none;
          &.toggle-completed {
            background: rgb(3, 160, 24);
          }
          &.delete-task {
            background: rgb(175, 13, 13);
          }
        }
      }
      .add-task-form {
      }
    }
  }
}

.task-list {
  margin: 0.5rem 0 0 2rem;

  li {
    color: rgb(195, 195, 195);
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    cursor: pointer;
    .add-task-form {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid var(--dark-gray);
    }
  }
}

.empty {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}
